# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Unstable Rocket Stacker.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Unstable Rocket Stacker\.idea\.idea.Unstable Rocket Stacker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
